<article>
  Hello <%= session[:email] %>. <br>
  Current Time is: <%= Time.now %>. <br>
  Value of clocked in is: <%= clocked_in? %> <br>

  <% if !clocked_in? %>

  Enter the projects name. <br>

  <form action="/" method="post">
    <div><label for="project">Project:</label><br />
    <input type="text"
           name="project"
           id="project"
           size = 40 /></div>

    <div><input type="submit" value="Start" /></div>
  </form>

  <% else %>

  You are clocked in.

  <form action="/" method="post">
    <input type="submit" value="Finish" />
  </form>
  
  <% end %>


  <% db.transaction do %>
    <% db[session[:email]].each do |project, timesheet| %>
      <table border="1">
        <caption><b> Project: <%= project %> </b></caption>
          <tr>
            <th> Clock In </th>
            <th> Clock Out </th>
            <th> Duration </th>
          </tr>
          <% timesheet.each do |clock_in, clock_out| %>
            <tr>
              <td> <%= clock_in.strftime("%b %d %I:%M %P") %> </td>
              <% if clock_out %>
                <td> <%= clock_out.strftime("%b %d %I:%M %P") %> </td>
                <td> <%= Time.at(clock_out-clock_in).gmtime
                         .strftime("%R" )%> </td>
              <% else %>
                <td> Click Finish to Clock Out </td>
              <% end %>
            </tr>
          <% end %>
        </table>
    <% end %>
  <% end %>

</article>