<article>
  Hello <%= session[:email] %>. <br>
  Current Time is: <%= Time.now %>. <br>
  Value of clocked in is: <%= clocked_in? %> <br>

  <% if !clocked_in? %>

  Enter the projects name. <br>

  <form action="/" method="post">
    <div><label for="project">Project:</label><br />
    <input type="text"
           name="project"
           id="project"
           size = 40 /></div>

    <div><input type="submit" value="Start" /></div>
  </form>

  <% else %>

  You are clocked in.

  <form action="/" method="post">
    <input type="submit" value="Finish" />
  </form>
  
  <% end %>

  <table border="1">
    <% db.transaction do %>
      <% db[session[:email]].each do |project, timesheet| %>
        <% timesheet.each do |clock_in, clock_out| %>
          <tr>
            <td> <%= project %> </td>
            <td> <%= clock_in.strftime("%b %d %I:%M %P") %> </td>
            <% if clock_out %>
              <td> <%= clock_out.strftime("%b %d %I:%M %P") %> </td>
              <td> <%= ((clock_out - clock_in) * 24).floor %> Hours
                   : <%= (((clock_out - clock_in) * 24)
                        .modulo(1) * 60).round %> Minutes </td>
            <% else %>
              <td> Clock out when finished</td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</article>