<article>
  Hello <%= session[:email] %>. <br>
  Current Time is: <%= Time.now %>. <br>
  Value of clocked in is: <%= timesheet.clocked_in? %> <br>

  <% if !timesheet.clocked_in? %>

  Enter the projects name. <br>

  <form action="/" method="post">
    <div><label for="project">Project:</label><br />
    <input type="text"
           name="project"
           id="project"
           size = 40 /></div>

    <div><input type="submit" value="Start" /></div>
  </form>

  <% else %>

  You are clocked in.

  <form action="/" method="post">
    <input type="submit" value="Finish" />
  </form>
  
  <% end %>

  <!-- Pagination could be cleaned up and put somewhere else -->
  <h3>
    <A HREF="/?week=1"> Week 1 </A> ...
    <% 5.times do |times| %>
      <% if week - 2 + times > 1 && week - 2 + times < current_week %>
        <A HREF="/?week=<%= week - 2 + times %>"> 
          <%= "Week #{week - 2 + times}" %> 
        </A>
      <% end %>
    <% end %>
    ...
    <A HREF="/?week=<%= current_week %>">
      Week <%= "#{current_week}" %>
    </A>
  </h3>
  
  <%= erb :table, locals: { week: week } %>

</article>